extends ../layouts/default

block content
	div.nav.padding-2.white-text.flex.flex-align-stretch.flex-justify-center.big-screen
		img(src='/images/dronepark.svg').nav-logo
		div.flex-1
		a(href='https://twitter.com/droneparkmx', target='_blank').nav-link Twitter
		a(href='/social/twitter/login').button.-white Inicia con twitter

	div.intro
		div.content.content-big.white-text.flex.flex-direction-column.flex-justify-center.padding-1
			h1 A place to race, fight and enjoy drones.

		video(autoplay, loop, poster='/images/fpv.jpg', id='bgvid').background-video
			source(src='/videos/fpv720.webm', type='video/webm')

	div.about.txt-center: div.content: div.padding-1
		h1 ¿Qué es DronePark?
		h2 ¡Ven y vuela tu primer Drone!

	div.about.txt-center.bg-gray: div.content: div
		h1 Partners
		h2 Aliados estratégicos
		div.flex.padding-1.flex-content-center.flex-align-center.flex-justify-center.partners
			a(href='https://www.facebook.com/events/1704240519798758/', target='_blank').padding-1
				img(src='/images/s-dronefest.svg')
			a(href='https://www.facebook.com/fpvmx/?fref=ts', target='_blank').padding-1
				img(src='/images/s-fpv.png')
			a(href='https://www.facebook.com/DroneProject/?fref=ts', target='_blank').padding-1
				img(src='/images/s-drone.png')

	div.about.txt-center.bg-primary.white-text: div.content: div
		h1 Team
		h2 Apasionados por los drones y la tecnología
		div.team.flex.padding-1.flex-align-start.flex-align-center.flex-justify-center.partners
			div.team-player.flex-1
				img(src='/images/team/toily.jpg').team-player-avatar
				h3 Toily

			div.team-player.flex-1
				img(src='/images/team/diana.jpg').team-player-avatar
				h3 Diana

			div.team-player.flex-1
				img(src='/images/team/antares.jpg').team-player-avatar
				h3 Antares

			div.team-player.flex-1
				img(src='/images/team/javierbyte.jpg').team-player-avatar
				h3 Javier

			div.team-player.flex-1
				img(src='/images/team/misael.jpg').team-player-avatar
				h3 Misael

	div.register.txt-center.padding-3
		img(src='/images/team.jpg').register-absolute
		img(src='/images/drone1.png').register-absolute-right.animation-float.big-screen
		img(src='/images/drone2.png').register-absolute-left.animation-float.animation-float-delay.big-screen
		h1 ¡Únete!
		h2 Ya somos #[b= socialUsers.length] racers
		a(href='/social/twitter/login').button-big.-blue Inicia sesión con twitter