extends ../layouts/default

block content
	div.nav.padding-2.white-text.flex.flex-align-center.flex-justify-center.big-screen
		img(src='/images/dronepark.svg').nav-logo
		div.flex-1
		a(href='https://twitter.com/droneparkmx', target='_blank').nav-link
			i.fa.fa-twitter
			span= ' @DroneParkMX'

	div.intro
		div.content.content-big.white-text.flex.flex-direction-column.flex-justify-center.padding-1
			h1 A place to race, fight and enjoy drones.

		video(autoplay, loop, poster='/images/fpv.jpg', id='bgvid').background-video
			source(src='/videos/fpv720.webm', type='video/webm')

	div: div.content
		div.txt-center.padding-3
			h1 ¡Ven el DronePark!
			h2 ¡Vuela tu primer drone el 12 y 13 de diciembre en el DroneFest!

		div.flex.padding-top-1
			div.padding-1
				div.txt-xl ¡Faltan pocos días para el #[a(href='http://dronefest.axai.mx/', target='_blank') DroneFest]! Y orgullosamente tendremos un espacio para que puedas venir a volar tu drone o rentar uno.
				a.button.-primary.txt-x.margin-top-2(href='http://www.ticketmaster.com.mx/search?tm_link=tm_header_search&user_input=mexico+drone+fest&q=mexico+drone+fest', target='_blank') Compra tu boleto

			div.padding-1.big-screen
				iframe(width="560", height="315", src="https://www.youtube.com/embed/RAvO1nje-00", frameborder="0", allowfullscreen)

	div.txt-center.bg-gray: div.content
		div.padding-1
			h1 Vive la experiencia.
			h2 Siéntete como un colibrí en crack.
		div.padding-1.video-container
			iframe(width="560", height="315", src="//www.youtube.com/embed/jF2fnQEVnAc", frameborder="0", allowfullscreen)

	div.about.txt-center: div.content: div
		h1 Partners
		h2 Aliados estratégicos
		div.flex.padding-1.flex-content-center.flex-align-center.flex-justify-center.partners
			a(href='https://www.facebook.com/events/1704240519798758/', target='_blank').padding-1
				img(src='/images/s-dronefest.svg').partners-logo-dronefest
			a(href='https://www.facebook.com/fpvmx/?fref=ts', target='_blank').padding-1
				img(src='/images/s-fpv.png')
			a(href='https://www.facebook.com/DroneProject/?fref=ts', target='_blank').padding-1
				img(src='/images/s-drone.png')

	div.about.txt-center.bg-primary.white-text: div.content: div
		h1 Team
		h2 Apasionados por los drones y la tecnología
		div.team.flex.flex-align-start.flex-align-center.flex-justify-center
			div.team-player.flex-1.padding-1
				img(src='/images/team/toily.jpg').team-player-avatar
				h3 Toily

			div.team-player.flex-1.padding-1
				img(src='/images/team/diana.jpg').team-player-avatar
				h3 Diana

			div.team-player.flex-1.padding-1
				img(src='/images/team/antares.jpg').team-player-avatar
				h3 Antares

			div.team-player.flex-1.padding-1
				img(src='/images/team/javierbyte.jpg').team-player-avatar
				h3 Javier

			div.team-player.flex-1.padding-1
				img(src='/images/team/misael.jpg').team-player-avatar
				h3 Misael

	div.register.txt-center.padding-3
		img(src='/images/team.jpg').register-absolute
		img(src='/images/drone1.png').register-absolute-right.animation-float.big-screen
		img(src='/images/drone2.png').register-absolute-left.animation-float.animation-float-delay.big-screen
		h1 ¡Únete!
		h2 Ya somos #[b= socialUsers.length] racers
		a(href='/social/twitter/login').button-big.-blue Inicia sesión con twitter