extends ../layouts/default

block content
	div.nav.padding-2.white-text.flex.flex-align-stretch.flex-justify-center
		div.flex-1
		a(href='/social/twitter/login').button.-white Inicia con twitter

	div.intro: div.content.content-big.white-text.flex.flex-direction-column.flex-justify-center.padding-1
		h1 The Drone Park
		h2 Racing. Fighting. Training.
		a(href='/social/twitter/login').button-big Inicia sesión con twitter

		div.background-video
			// iframe(frameborder="0", height="100%", width="100%", src="https://www.youtube.com/embed/Parubk_HUj8?autoplay=1&controls=0&loop=1&rel=0&showinfo=0&autohide=1&wmode=transparent&hd=1")

	div.about.txt-center: div.content: div.padding-1
	//	h1 Contenido
	//	h2 El mejor lugar para correr drones.

	div.register.txt-center.padding-3
		img(src='/images/team.jpg').register-absolute
		img(src='/images/drone1.png').register-absolute-right.animation-float
		img(src='/images/drone2.jpg').register-absolute-left.animation-float.animation-float-delay
		h1 ¡Únete!
		h2 Ya somos #[b= socialUsers.length] racers
		a(href='/social/twitter/login').button-big.-blue Inicia sesión con twitter