extends ../layouts/default

block content
	div.nav.padding-2.white-text.flex.flex-align-center.flex-justify-center
		img(src='/images/dronepark.svg').nav-logo
		div.flex-1
		a(href='https://twitter.com/droneparkmx', target='_blank').nav-link.big-screen
			i.fa.fa-twitter
			span= ' @DroneParkMX'

	div.intro
		div.content.content-big.white-text.flex.flex-direction-column.flex-justify-center.padding-1
			h1 A place to race, fight and enjoy drones.

		video(autoplay, loop, poster='/images/fpv.jpg', id='bgvid').background-video
			source(src='/videos/fpv720.webm', type='video/webm')

	div: div.content
		div.txt-center.padding-3
			h1 ¡Sé parte del DronePark!
			h2 Entérate de eventos y novedades primero que todos.

			div#mc_embed_signup.padding-top-2
				form#mc-embedded-subscribe-form.validate(action='//pymetic.us3.list-manage.com/subscribe/post?u=63f292ad5b24d91d5951f21c1&id=8c8d5ae827', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
					div#mc_embed_signup_scroll
						.mc-field-group
							input#mce-EMAIL.required.email.input-big(type='email', value='', name='EMAIL', placeholder="Tu email")
						div#mce-responses.clear
							div#mce-error-response.response(style='display:none')
							div#mce-success-response.response(style='display:none')
						div(style='position: absolute; left: -5000px;', aria-hidden='true')
							input(type='text', name='b_63f292ad5b24d91d5951f21c1_8c8d5ae827', tabindex='-1', value='')
						.clear
							input#mc-embedded-subscribe.button-big.-blue(type='submit', value='Subscribe', name='subscribe')

	div.txt-center.bg-gray: div.content
		div.padding-1
			h1 Vive la experiencia.
			h2 Siéntete como un colibrí en crack.
		div.padding-1.video-container
			iframe(width="560", height="315", src="//www.youtube.com/embed/7WWEpGQ58s0", frameborder="0", allowfullscreen)

	div.about.txt-center: div.content: div
		h1 Partners
		h2 Aliados estratégicos
		div.flex.padding-1.flex-content-center.flex-align-center.flex-justify-center.partners
			a(href='https://www.facebook.com/events/1704240519798758/', target='_blank').padding-1
				img(src='/images/s-dronefest.svg').partners-logo-dronefest
			a(href='https://www.facebook.com/fpvmx/?fref=ts', target='_blank').padding-1
				img(src='/images/s-fpv.png')
			a(href='https://www.facebook.com/DroneProject/?fref=ts', target='_blank').padding-1
				img(src='/images/s-drone.png')

	div.about.txt-center.bg-primary.white-text: div.content: div
		h1 Team
		h2 Apasionados por los drones y la tecnología
		div.team.flex.flex-align-start.flex-align-center.flex-justify-center
			div.team-player.flex-1.padding-1
				img(src='/images/team/toily.jpg').team-player-avatar
				h3 Toily

			div.team-player.flex-1.padding-1
				img(src='/images/team/diana.jpg').team-player-avatar
				h3 Diana

			div.team-player.flex-1.padding-1
				img(src='/images/team/antares.jpg').team-player-avatar
				h3 Antares

			div.team-player.flex-1.padding-1
				img(src='/images/team/javierbyte.jpg').team-player-avatar
				h3 Javier

			div.team-player.flex-1.padding-1
				img(src='/images/team/misael.jpg').team-player-avatar
				h3 Misael

	div.register.txt-center.padding-3
		img(src='/images/team.jpg').register-absolute
		img(src='/images/drone1.png').register-absolute-right.animation-float.big-screen
		img(src='/images/drone2.png').register-absolute-left.animation-float.animation-float-delay.big-screen
		h1 ¡Únete!
		h2 Ya somos #[b= socialUsers.length] racers
		a(href='/social/twitter/login').button-big.-blue Inicia sesión con twitter

	// mailchimp stuff
	script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
	script(type='text/javascript').
		(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
