extends ../layouts/default

block content
	div.nav.padding-2.white-text.flex.flex-align-stretch.flex-justify-center.big-screen
		div.flex-1
		a(href='/social/twitter/login').button.-white Inicia con twitter

	div.intro: div.content.content-big.white-text.flex.flex-direction-column.flex-justify-center.padding-1
		img(src='/images/dronepark.svg').logo
		h2 Racing. Fighting. Training.
		a(href='/social/twitter/login').button-big Inicia sesión con twitter
		//- a(href='https://docs.google.com/a/javierbyte.com/forms/d/1Plp23sZXKLPfBN3qjRreYbKjsCWlu-MCZWEunQMHWOc/viewform?usp=send_form', target='_blank').intro-email ¿No tienes twitter? Compártenos tu email

		div.background-video
			//- iframe(frameborder="0", height="100%", width="100%", src="https://www.youtube.com/embed/Parubk_HUj8?autoplay=1&controls=0&loop=1&rel=0&showinfo=0&autohide=1&wmode=transparent&hd=1")

	div.about.txt-center: div.content: div.padding-1
		h1 Racing.
		h2 El mejor lugar para correr drones.
		div.slider
			img(src='/images/racing.jpg')
			img(src='/images/racing2.jpg')
			img(src='/images/racing3.jpg')

	div.about.txt-center.bg-gray: div.content: div.padding-1
		h1 Fighting.
		h2 Prepárate para Skynet.
		div.slider
			img(src='/images/battle.jpg')
			img(src='/images/battle2.jpg')
			img(src='/images/battle3.jpg')

	div.about.txt-center: div.content: div.padding-1
		h1 Training.
		h2 Aprende a correr un drone con los pros.
		div.slider
			img(src='/images/training.jpg')
			img(src='/images/training2.jpg')
			img(src='/images/training3.jpg')

	div.about.txt-center.bg-gray: div.content: div
		h1 Partners
		h2 Aliados estratégicos
		div.flex.padding-1.flex-content-center.flex-align-center.flex-justify-center.partners
			a(href='https://www.facebook.com/fpvmx/?fref=ts', target='_blank').padding-1
				img(src='/images/s-fpv.png')
			a(href='https://www.facebook.com/DroneProject/?fref=ts', target='_blank').padding-1
				img(src='/images/s-drone.png')

	div.about.txt-center.bg-primary.white-text: div.content: div
		h1 Team
		h2 Apasionados por los drones y la tecnología
		div.team.flex.padding-1.flex-align-start.flex-align-center.flex-justify-center.partners
			div.team-player.flex-1
				img(src='/images/team/toily.jpg').team-player-avatar
				h3 Toily

			div.team-player.flex-1
				img(src='/images/team/diana.jpg').team-player-avatar
				h3 Diana

			div.team-player.flex-1
				img(src='/images/team/antares.jpg').team-player-avatar
				h3 Antares

			div.team-player.flex-1
				img(src='/images/team/javierbyte.jpg').team-player-avatar
				h3 Javier

			div.team-player.flex-1
				img(src='/images/team/misael.jpg').team-player-avatar
				h3 Misael

	div.register.txt-center.padding-3
		img(src='/images/team.jpg').register-absolute
		img(src='/images/drone1.png').register-absolute-right.animation-float.big-screen
		img(src='/images/drone2.png').register-absolute-left.animation-float.animation-float-delay.big-screen
		h1 ¡Únete!
		h2 Ya somos #[b= socialUsers.length] racers
		a(href='/social/twitter/login').button-big.-blue Inicia sesión con twitter