extends ../layouts/default

block content
  div.panel
    div.flex-1.panel-content
      div.panel-nav.padding-1.flex.flex-align-center
        div.padding-1
          h2.flex.flex-align-center
            img(src='http://avatars.io/twitter/' + userdata.twitterLoginId).avatar.margin-right-H
            div #{_.get(userdata, ['name', 'first'])}

        div.flex-1
        div.padding-1.flex.txt-center
          div.padding-1
            h2 42
            div Flight hours
          div.padding-1
            h2 3
            div Tournaments

      div.padding-2.list
        h3 Your drone park team.
        -each user in socialUsers
          div.flex.flex-align-center.list-element
            img(src='http://avatars.io/twitter/' + user).avatar.margin-right-H
            b: a(href='http://twitter.com/' + user, target='_blank')= user
            a(href='https://twitter.com/home?status=' + encodeURIComponent('Oye @' + user + ' te reto a una batalla en #DronePark, te animas? http://dronepark.racing'), target='_blank').micro-button Challenge!

      div.padding-2.big-screen
        h3 Your stats
        br
        div.flex.txt-center.charts
          div.flex.flex-direction-column.flex-align-stretch
            div.padding-1.flex-1.flex.flex-align-center
              canvas#progresschart
            div To next level
          div.flex.flex-direction-column.flex-align-stretch
            div.padding-1.flex-1.flex.flex-align-center
              canvas#progressradial
            div Historial stats

      div.padding-2.list
        h3 Contact us.
        id Let us know if you have an idea! at #[b: a(mailto:info@dronepark.racing) info@dronepark.racing]
      // div= JSON.stringify({userdata, socialUsers})

    div.panel-sidebar.flex.flex-direction-column
      div.padding-1
        div.padding-1
          h2 Next events

        div.padding-1
          h4 First beginners race for startup weekend attendees.
          div.flex
            b 15/11/15
            div.flex-1
            b= ' 10:00 AM'

        div.padding-1
          h4 Pro race for startup weekend attendees.
          div.flex
            b 16/11/15
            div.flex-1
            b= ' 4:00 PM'

      div.flex-1
      div.padding-2.txt-center
        h3: a(href='') Suggest an event