include ../mixins/flash-messages

doctype html
html

	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'Drone Park - Racing'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		link(href="/styles/site.min.css", rel="stylesheet")
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500', rel='stylesheet', type='text/css')

		link(rel="stylesheet", type="text/css", href="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css")
		link(rel="stylesheet", type="text/css", href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css")

		meta(property="og:title", content="DronePark - Racing")
		meta(property="og:url", content="http://dronepark.racing/")
		meta(property="og:description", content="Racing. Fighting. Training. El mejor lugar para correr drones.")
		meta(property="og:image", content="http://dronepark.racing/images/og.png")

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
		script(src='//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js')
		script(src='/js/chart.min.js')

		block css
		block head

	body
		#body
			block content
		script.
			$(function() {
				$('.slider').slick({autoplay: true, autoplaySpeed: 2500, infinite: false})

				if ($('.panel')) {
					var ctx = document.getElementById('progresschart').getContext("2d");
					var chartProgress = new Chart(ctx).Doughnut([{
						value: 300,
						color:"#fff",
						highlight: "#fff",
						label: "Progress"
					}, {
						value: 50,
						color: "rgba(255, 255, 255, 0.1)",
						highlight: "rgba(255, 255, 255, 0.1)",
						label: "To next level"
					}], {
						segmentStrokeWidth: 0,
						segmentStrokeColor: 'transparent'
					})

					var ctxRadial = document.getElementById('progressradial').getContext("2d");
					var chartRadial = new Chart(ctxRadial).Radar({
						labels: ['Speed', 'Battle', 'Technical', 'Experience', 'Exploration', 'Repair', 'Team'],
						datasets: [{
							label: "My First dataset",
							fillColor: "rgba(220,220,220,0.2)",
							strokeColor: "rgba(220,220,220,1)",
							pointColor: "rgba(220,220,220,1)",
							pointStrokeColor: "#fff",
							pointHighlightFill: "#fff",
							pointHighlightStroke: "rgba(220,220,220,1)",
							data: [65, 59, 90, 81, 56, 55, 40]
						}, {
							label: "My Second dataset",
							fillColor: "rgba(151,187,205,0.2)",
							strokeColor: "rgba(151,187,205,1)",
							pointColor: "rgba(151,187,205,1)",
							pointStrokeColor: "#fff",
							pointHighlightFill: "#fff",
							pointHighlightStroke: "rgba(151,187,205,1)",
							data: [28, 48, 40, 19, 96, 27, 100]
						}, {
							label: "My Second dataset",
							fillColor: "rgba(151,187,205,0.2)",
							strokeColor: "rgba(151,187,205,1)",
							pointColor: "rgba(151,187,205,1)",
							pointStrokeColor: "#fff",
							pointHighlightFill: "#fff",
							pointHighlightStroke: "rgba(151,187,205,1)",
							data: [28, 48, 40, 19, 96, 27, 100]
						}]
					}, {
						pointLabelFontColor: '#fff',
						datasetStrokeWidth: 1,
						angleLineColor: 'rgba(255,255,255,0.1)',
						scaleLineColor: 'rgba(255,255,255,0.1)'
					})
				}
			})
		block js

//progressradial